/* html {
    width: 100dvw;
} */

body > img {
    z-index: -1;
}
body > .main-container {
    display: flex;
    padding: 2em 4em;
    width: 100%;
    font-size: 1.4em;
    gap: 2em;
}

.samples {
    /* height: 80vh; */
    justify-content: center;
}

.samples .cards,
.samples .cakes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
}

.show-few {
    width: 25vw;
}
